<main>
  <div class='flex justify-end my-8 px-6'>
    <img class='w-6 h-6' src='/assets/close.svg' />
  </div>
  <div class="px-4 pb-4">
    <img width="45" height="45" src="/assets/icon.png" alt="Logo"/>
    <div class="mb-10 mt-6 space-y-4">
      <h1 class="text-greenPrimary font-inter--sm font-32">
        Choice9ja
      </h1>

      <p className='text-primaryColor-700 font-14 font-inter-regular'>
        Welcome to the Future of Democracy!
        <span className='block'>
          Your Voice Counts. Your Opinion Matters.
        </span>
      </p>
    </div>
    <form class="space-y-3">
      <h2 class='text-primaryColor-900 font-inter--sm font-17'>
        Join Choice9ja today.
      </h2>
      <div class="space-y-4">
        <button type="button" class="bg-greenPrimary font-14 font-inter--sm text-white rounded-full w-full p-3 flex my-1 justify-center">Sign up with Phone Number</button>
        <button type="button"
          class="bg-greenPrimary font-14 font-inter--sm text-white rounded-full w-full p-3 flex my-1 justify-center">Sign up with Email</button>
      </div>
      <div class='space-y-1 font-inter--light font-11'>
        <p class='text-primaryColor-500 '>
          By signing up, you agree to our
        </p>
        <p>
          <span class='text-greenPrimary'>Terms of Service</span>
          <span class='text-green-neutral-500'>and</span>
          <span class='text-greenPrimary'>Privacy Policy</span>
        </p>
      </div>
    </form>
    <div class="mt-8 space-y-3">
      <h3 class="text-primaryColor-900 font-inter--sm font-17">
        Already have an account?
      </h3>
      <button type="button"
        class="bg-greenPrimary font-14 font-inter--sm text-white rounded-full w-full p-3 flex my-1 justify-center">Sign up
        Log In</button>
    </div>
  </div>
</main>